<%- include("partials/header.ejs") %>

<div class="container">
  <div class="text-center">
    <h1 class="m-4 p-2">Welcome to Blog App</h1>
    <a class="btn btn-primary mb-5" href="/blogs/new">New Post</a>
  </div>

  <div class="row text-center">
    <% blogs.forEach((blog)=>{ %>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <div class="caption">
          <h3><%= blog.title %></h3>
        </div>
        <img class="img-fluid" src="<%= blog.image %>" alt="" />

        <p class="m-2">
          <a class="btn btn-primary" href="/blogs/<%= blog._id%>">Read more</a>
        </p>
      </div>
    </div>
    <% })%>
  </div>
</div>
