<%- include('partials/header.ejs') %>

<div class="container">
  <h1 class="text-center">Create new blog</h1>
  <form action="/blogs" method="POST">
    <div class="form-group">
      <label for="">Title</label>
      <input
        class="form-control"
        type="text"
        name="blog[title]"
        placeholder="Title"
      />
    </div>

    <div class="form-group">
      <label for="">Image</label>
      <input
        class="form-control"
        type="text"
        name="blog[image]"
        placeholder="Image URL"
      />
    </div>
    <div class="form-group">
      <label for="">Body</label>
      <textarea
        class="form-control"
        name="blog[body]"
        placeholder="Body"
        id=""
        cols="30"
        rows="10"
      ></textarea>
    </div>

    <button class="btn btn-info">Submit</button>
    <a class="btn btn-danger" href="/">Cancel</a>
  </form>
</div>

<%- include('partials/footer.ejs') %>
