<h1>Create new blog</h1>

<form action="/blogs" method="POST">
  <label for="">Title</label>
  <input type="text" name="blog[title]" placeholder="Title" />
  <label for="">Image</label>
  <input type="text" name="blog[image]" placeholder="Image URL" />
  <label for="">Body</label>
  <textarea name="blog[body]" placeholder="Body" id="" cols="30" rows="10">
    
  </textarea>
  
  <button>Submit</button>
</form>
